body {
  font-family: arial;
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
}

input {
  width: 200px;
  padding: 10px;
  margin: 5px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: tomato;
  color: white;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
}

#loginMessage {
  margin-top: 10px;
  color: red;
  font-size: smaller;
  text-align: center;
}
