html {
  font-size: 1.25rem;
}
.container {
  height: 100vh;
  height: 100dvh;
  display: grid;
  place-items: center start;
}
.mainTd {
  background-color: brown;
  color: white;
  width: 4rem;
  text-align: center;
}
.numSpan {
  display: inline-block;
  width: 27.4px;
  text-align: center;
}
#button {
  display: grid;
  place-items: start end;
}
button {
  width: 1.5rem;
  height: 1.5rem;
  font-size: 1rem;
  text-align: center;
}
#toSeat {
  width: 6rem;
}
